  <div class="container text-center">
  <h1>About Page</h1>
  <p>We are Devmatch<br>
  Our Company focuses on Creating an Exclusive Community<br>
  where Developers and Entrepreneurs can Meet.
  </p>
  </div>